.bg {
    background-image: url(/Assets/fondoLogin.jpg);
}

.fondoRegistro {
    background-image: url(/Assets/fondoRegistro.jpg);
}

.bg-light {
    --bs-bg-opacity: 0.8;
}

.pJustificado {
    text-align: justify;
}
/*Animacion para sombreado de links*/
nav ul li a {
    position: relative;
    border-bottom: 2px inset #5a5a5a;
    outline: none;
}
nav ul li a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 5%;
    background-color: #ffc107;
    transform-origin: center;
    transition: 0.4s;
}
nav ul li a:hover::after {
    transform: scale(0);
}
nav ul li a:hover {
    color: #5a5a5a !important;
}
/*Footer*/
footer ul li {
    list-style: none;
}
/*Login*/
header.barra {
    background-color: #ffc107d5 !important;
    transition: all 0.3s;
}